{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <!-- <script src="{% static "js/cookie-setup.js" %}"></script> -->
    <!-- <script src="{% static "js/set-page-theme.js" %}"></script> -->

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" id="style" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- OLD -->
    <!-- <ul class="navbar">
        <li><a href="/" id="left">ODIT</a></li>
        <li><a href="submit.html" id="left">Submit Request</a></li>
        <li><a href="viewissues.html" id="left">View Requests</a></li>
        <li><a href="/" id="left">About Us</a></li>
        <div class="justify-content-right">
            <button id="toggle-dark-mode" onclick="tdm()">☀️</button>
        </div>
    </ul> -->
    
    <nav class="navbar navbar-default fixed-top">
        <div class="navbar-expand-lg">
            <a class="navbar-brand" href="/"><img alt="ODIT"></a>
            <a class="nav-item" href="submit.html">Submit Request</a>
            <a class="nav-item" href="viewissues.html">View Requests</a>
            <a class="nav-item" href="aboutodit.html">About Us</a>
        </div>
        <div class="justify-content-right">
            <button id="toggle-dark-mode" onclick="tdm()">☀️</button>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
