/* Like regular styles.css, but dark mode */
body {
	color: white;
	background: gray;
}

input {
	color: white;
	background: black;
}

select {
	color: white;
	background: black;
}

textarea {
	color: white;
	background: black;
}

.hint {
	color: rgb(48.4%, 48.4%, 48.4%);
	font-size: x-small;
}

.navbar-brand {
	background: gray;
	color: white;
	padding: 5px 10px 5px 10px;
}
.navbar-brand:hover {
	color: white;
	text-decoration: underline;
}

.nav-item {
	color: rgb(100%, 100%, 100%);
	margin: 5px;
	padding: 10px;
	background: rgb(30.8%, 35.4%, 100%);
	border-radius: 5px;
}

.nav-item:hover {
	color: rgb(100%, 100%, 100%);
}

#toggle-dark-mode {
	font-size: 25px;
	padding: 5px;
	border: none;
	background: none;
}