{% extends "base.html" %}
{% block content %}

{% load static %}
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 mx-auto d-flex flex-column align-items-center">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                {% csrf_token %}
                {% comment %} Daniel speaking:
                Credit goes to this CodePen (https://codepen.io/neilpomerleau/pen/wzxzQr?editors=1111)
                for this neat little rating system.

                TODO: Implement at some point.
                {% endcomment %}
                {% for field in form %}
                <p class="mb-1">{{ field.label_tag }}</p>
                <p class="mb-2">{{ field }}</p>
                {% endfor %}
                <br>
                <input type="submit" class="btn btn-primary" value="Confirm Changes">
				        <a href="/viewprofile/{{ id }}" class="btn btn-secondary ml-2">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
