{% extends "base.html" %}
{% block content %}

{% load static %}
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 mx-auto d-flex flex-column align-items-center">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group ml-2 mr-2">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <br>
                <input type="submit" class="btn btn-primary" value="Confirm Edits">
                {% if title == "ODIT - Resolve Ticket" %}
                <a href="/viewmyissues.html" class="btn btn-secondary">Cancel</a>
                {% else %}
				<a href="/viewmysubmittedissues.html" class="btn btn-secondary">Cancel</a>
                {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
