{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="card bg-secondary mb-2 mx-auto">
        <div class="card-header" style="font-weight: bold;">Search for Requests:</div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                {% csrf_token %}
                                <table>
                                <tr>
                                    <td>
                                        <p class="text-right mr-2">{{ form.keyword.label_tag }}</p>
                                    </td>
                                    <td>
                                        <p>{{ form.keyword }}</p>
                                    </td>
                                    <td>
                                        <p><input type="submit" class="btn btn-primary" value="Filter"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="text-right mr-2">{{ form.issue_type.label_tag }}</p>
                                    </td>
                                    <td>
                                        <p>{{ form.issue_type }}</p>
                                    </td>
                                    <td>
                                        <p><a href="viewissues.html" class="btn btn-secondary btn-outline-light">Clear</a></p>
                                    </td>
                                </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col ml-2 mr-2">
    {% if issues_list %}
    <div class="accordion" id="accordionExample">
        {% for i in issues_list %}
        <div class="card bg-light">
            <div class="card-header" id="heading{{ forloop.counter }}">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                Ticket #{{ i.id }}: <span class="bg-primary text-white px-1 py-1 rounded">{{ i.title|title }}</span>
                </button>
            </div>
            <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordionExample">
                <div class="card-body">
                    <h5>Request type: {{ i.issue_type }}</h5>
                        <div class="border border-secondary px-2 mb-2">
                            <p>{{ i.description|linebreaks }}</p>
                        </div>
                        <p>Request solved? {% if i.is_solved == True %} Yes {% else %} No {% endif %}</p>
                        <hr>
                        <h4>Request details:</h4>
                        <div style="font-size: 14px;">
                        <table class="table table-bordered">
                        <tr>
                            <th>
                                Date Created:
                            </th>
                            <th>
                                Assigned Technician:
                                {% if is_technician and user != i.assigned_user and user != i.affected_user and i.is_solved == False %}
                                    <a class="btn btn-success" href="/viewissues/assign/{{i.id}}">
                                        Assign yourself to this request
                                    </a>
                                {% endif %}
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <p>{{ i.date_created }}</p>
                            </td>
                            <td>
                                <p>
                                    {% if i.assigned_user %}
                                        <a class="btn btn-secondary" href="viewprofile/{{ i.assigned_user.id }}">
                                            {{ i.assigned_user }}
                                        </a>
                                    {% else %}
                                    None at the moment
                                    
                                    {% endif %}
                                </p>
                            </td>
                        </tr>
                        </table>


                    {% comment %} <p class="">{{ i.description|linebreaks }}</p>
                    <p>Date created: {{ i.date_created }}</p>
                    <p>Issue type: {{ i.issue_type }}</p>
                    <p>Assigned user: {{ i.assigned_user }} {% if i.assigned_user %}<a class="btn btn-secondary" href="viewprofile/{{ i.assigned_user.id }}">View Profile</a>{% endif %}</p>
                    <p>Affected user: {{ i.affected_user }} {% if i.affected_user %}<a class="btn btn-secondary" href="viewprofile/{{ i.affected_user.id }}">View Profile</a>{% endif %}</p>
                    <p>Issue solved?: {% if i.is_solved == True %} Yes {% else %} No {% endif %}</p> {% endcomment %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <p>There are no requests that contain what you searched.</p>
    {% endif %}
    </div>
</div>

{% endblock %}
