{% extends "base.html" %}
{% block content %}

<div class="container mb-2 card bg-secondary py-2">
    <h3 class="card bg-light px-2">Search for posted issues:</h3>
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col col-md-4">
                <div class="form-group">
                    {% csrf_token %}
                    <table>{{ form.as_table }}</table>
                </div>
            </div>
            <div class="col col-sm justify-content-center">
                <input type="submit" class="btn btn-primary mb-2" value="Filter"><br>
                {% comment %} <button class="btn btn-secondary btn-outline-light" onclick="clear()">Clear</button> {% endcomment %}
                <button class="btn btn-secondary btn-outline-light">Clear</button>
                {% comment %} <script>
                function clear(){
                    $("#keyword").val("");
                    $("#issue_type").val("");
                }
                </script> {% endcomment %}
            </div>
        </div>
    </form>
</div>

<div class="container">
    <div class="row">
        <div class="col ml-2 mr-2">
        {% if issues_list %}
            {% for i in issues_list %}
            <div class="card bg-light my-2">
                <div class="card-header">Ticket #{{ i.id }}: <span class="bg-primary text-white px-1 py-1 rounded">{{ i.title|title }}</span>
                </div>
                <div class="card-body">
                <p>Description: {{ i.description }}</p>
                <p>Date created: {{ i.date_created }}</p>
                <p>Issue type: {{ i.issue_type }}</p>
                <p>Assigned user: {{ i.assigned_user }}</p>
                <p>Affected user: {{ i.affected_user }}</p>
                <p>Issue solved?: {% if i.is_solved == True %} Yes {% else %} No {% endif %}</p>
                {% if is_technician and user != i.assigned_user and user != i.affected_user %}
                <a class="btn btn-secondary" href="/viewissues/assign/{{i.id}}">Assign Myself</a>
                {% endif %}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>There are no entries with those parameters.</p>
        {% endif %}
        </div>
    </div>
</div>

{% endblock %}
