{% extends "base.html" %}
{% block content %}

<div class="container">
	{% comment %} <button class="btn btn-primary mb-2 mx-auto" type="button" data-toggle="collapse" data-target="#search" aria-expanded="false">Refine your search</button> {% endcomment %}
	{% comment %} User's own issues {% endcomment %}
	<div id="search" class="card bg-secondary mb-2">
		<div id="search" class="card-body">
			<form method="post" enctype="multipart/form-data">
				<div class="row">
					<div class="col col-md-4">
						<div class="form-group">
							{% csrf_token %}
							<table>{{ form.as_table }}</table>
						</div>
					</div>
					<div class="col col-sm justify-content-center">
						<input type="submit" class="btn btn-primary mb-2" value="Filter"><br>
						<a class="btn btn-secondary btn-outline-light" href="/viewmysubmittedissues.html">Clear</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="row mx-4">
	<div class="col">
		<h3>Requests you have submitted:</h3>
		{% if issues_list.count > 0 %}
		<div class="accordion" id="accordionExample">
			{% for issue in issues_list %}
			<div class="card bg-light">
				<div class="card-header" id="heading{{ forloop.counter }}">
					<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
					{{ issue.title|title }}
					</button>
				</div>
				<div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordionExample">
					<div class="card-body">
						<h5>Request type: {{ issue.issue_type }}</h5>
						<div class="border border-secondary px-2 mb-2">
							<p>{{ issue.description|linebreaks }}</p>
						</div>
						<p>Request solved? {% if issue.is_solved == True %} Yes {% else %} No {% endif %}</p>
						<a class="btn btn-secondary" href="editticket/{{ issue.id }}">Edit Issue</a>
						<hr>
						<h4>Request details:</h4>
						<div style="font-size: 14px;">
						<table class="table table-bordered">
						<tr>
							<th>
								Date Created:
							</th>
							<th>
								Assigned Technician:
							</th>
						</tr>
						<tr>
							<td>
								<p>{{ issue.date_created }}</p>
							</td>
							<td>
								<p>
									{% if issue.assigned_user %}
									<a class="btn btn-secondary" href="viewprofile/{{ issue.assigned_user.id }}">
									{{ issue.assigned_user }}
									</a>
									{% else %}
									None at the moment
									{% endif %}
								</p>
							</td>
						</tr>
						</table>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		{% else %}
		<p>Nothing found!</p> 
		{% endif %}
	</div>
</div>

{% endblock %}