{% extends "base.html" %}
{% block content %}

<div class="container mb-2 card bg-secondary">
    <h3 class="card bg-primary font-weight-bold">Search for posted issues:</h3>
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col col-md-4">
                <div class="form-group">
                {% csrf_token %}
                <table>{{ form.as_table }}</table>
                </div>
            </div>
            <div class="col col-sm justify-content-center">
                <input type="submit" class="btn btn-primary mb-2" value="Filter"><br>
                <button class="btn btn-secondary btn-outline-light" type="clear">Clear</button>
            </div>
        </div>
    </form>
</div>

{% if issues_list %}

<div class="container">
    <div class="row">
        <div class="column ml-2 mr-2">
            {% for i in issues_list %}
            <h4><p><b>Ticket # {{ i.id }}</b></p></h4>
            <li>Title: {{ i.title }}</li>
            <li>Description: {{ i.description }}</li>
            <li>Date Created: {{ i.date_created }}</li>
            <li>Issue_type: {{ i.issue_type }}</li>
            <li>Assigned_user: {{ i.assigned_user }}</li>
            <li>Affected_user: {{ i.affected_user }}</li>
            <li>Is_solved?: {{ i.is_solved }}</li><br>
			{% if is_technician and user != i.assigned_user and user != i.affected_user %}<li><a class="btn btn-secondary" href="/viewissues/assign/{{i.id}}">Assign Myself</a></li>{% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% else %}
<p>There are no entries with those parameters.</p>
{% endif %}

{% endblock %}
