body {
    background-color: white;
}

.base {
    background-color: lightgrey;
    border: 25px #330080;
    border-style: solid;
    padding: 15px;
    margin: 25px; 
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    width: 100%;
}
  
#right {
    float: right;
}
  
#left {
    float: left;
}
  
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.navbar li a:hover:not(.active) {
    background-color: #666;
}

.active {
    background-color: #6600ff;
}